.BothSides {
    display: grid;
    height: 100vh;
    grid-template-columns: auto auto;
}

.side {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.side .fancy {
    font-family:"Lobster", monospace;
    font-size: 1.5em;
    line-height: 0.8em;
    font-weight: bolder;
    text-decoration: overline;
}

#left-side {
    background-color: black;
}

#right-side {
    background-color: rgb(248, 202, 0);
    
}

#left-side .title {
    color: white;
}

#left-side .fancy {
    color: rgb(248, 202, 0);
}

#right-side .title {
    color: black;

}

#right-side .fancy {
    color: purple;
}