*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --ff-primary: 'Martian Mono', monospace;
    --ff-secondary: 'Martian Mono', monospace;

    --fw-reg: 300;
    --fw-bold: 900;

    --clr-bg: #fff;
    --clr-dark: #303030;
    --clr-accent: #fff07c;

    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;

    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,0.25),
          0.125em 0.125em 0.25em rgba(0,0,0,0.15)
}

@media (min-width: 800px) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
}

body {
    background-color: var(--clr-light);
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
}

section {
    padding: 2rem 2em;
}

img {
    display: block;
    max-width: 100%;
}

strong {
    font-weight: var(--fw-bold);
    display: block;
}

h1,
h2,
h3 {
    line-height: 1.1;
    margin: 0;
}

h1 {font-size: var(--fs-h1);}
h2 {font-size: var(--fs-h2);}
h3 {font-size: var(--fs-h3);}

.section__title {
    margin-bottom: 0.2em;
}

.section__title--intro {
    font-weight: var(--fw-reg);
    display: inline-block;
}
.section__subtitle {
    margin: 0;
    font-size: var(--fs-h3);
}
 .section__subtitle--intro,
 .section__subtitle--about {
    background-color: var(--clr-accent);
    font-family: 'Courier', monospace;
    margin-bottom: 0.5em;
    padding: 0.25em;
}

.logo {
    max-width: 100px;
    margin: 1em;
    z-index: 4;
}

header {
    display: flex;
    justify-content: space-between;
}
.nav {
    position: fixed;
    background-color: var(--clr-dark);
    color: var(--clr-light);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 3;
    height: 5%;
}

.nav__list {
    list-style: none;
    display: flex;
    height: 10%;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav__link {
    color: inherit;
    font-weight: var(--fw-bold);
    font-size: var(--fs-h3);
    margin-top: auto;
    margin-bottom: 0;
}

.intro {
    position: relative;

}

@media (min-width: 600px) {
    .intro {
        display: grid;
        grid-template-areas:
        "img title"
        "img subtitle";
        grid-template-columns: min-content max-content;
        grid-column-gap: 1em;
        width: min-content;
        margin: 0 auto;
    }
    .intro__img {
        grid-area: img;
        min-width: 250px;
        z-index: 2;
        position: relative;
        box-shadow: var(--bs);
    }
    .section__subtitle--intro {
        align-self: start;
        grid-column: -1/1;
        grid-row: 2;
        text-align: right;
        position: relative;
        left: -2em;
        width: calc(100% + 2em);
        transition: 0.3s;
    }
    .section__subtitle--intro:hover {
        transform: scale(1.1);
        font-weight: var(--fw-bold);
    }
}

.projects {
    background-color: var(--clr-accent);
    box-shadow: var(--bs);
}

.portfolio__item {
    background-color: #EBA9AB;
    cursor: pointer;
    display: grid;
    grid-template-areas:
    "project-img project-title"
    "project-img project-desc";
    grid-template-columns: min-content max-content;
    grid-column-gap: 1em;
    margin: 1em;
    box-shadow: var(--bs);
    transition: 0.5s;
    width: 60%;
}

.portfolio__item:hover {
    transform: scale(0.95);
}

.portfolio__img {
    grid-area: project-img;
    min-width: 250px;
}

.portfolio__title {
    grid-area: project-title;
    margin: 0;
    font-weight: var(--fw-bold);
    font-size: var(--fs-h3);
}

.portfolio__description {
    grid-area: project-desc;
    width: 50%;
    margin: 0;
}

.footer {
    text-align: center;
    padding: 1em 0 0;
}

.footer__link,
.social__list__link {
    font-size: var(--fs-h3);
}
.footer__link:hover,
.social__list__link:hover {
    opacity: 0.7;
}
.social-list {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0.5em 0 0;
    padding: 0;
}

.social-list__item {
    margin: 0.7em 0.7em
}